[submodule "baru"]
	path = baru
	url = git@github.com:devangel77b/425sbaru-lab11.git
[submodule "cohen"]
	path = cohen
	url = git@github.com:devangel77b/425rcohen-lab11.git
[submodule "gandhi"]
	path = gandhi
	url = git@github.com:devangel77b/525dgandhi-lab11.git
[submodule "hammer"]
	path = hammer
	url = git@github.com:devangel77b/425jhammer-lab11.git
