[submodule "baru"]
	path = baru
	url = git@github.com:devangel77b/425sbaru-lab11.git
[submodule "cohen"]
	path = cohen
	url = git@github.com:devangel77b/425rcohen-lab11.git
[submodule "gandhi"]
	path = gandhi
	url = git@github.com:devangel77b/525dgandhi-lab11.git
[submodule "hammer"]
	path = hammer
	url = git@github.com:devangel77b/425jhammer-lab11.git
[submodule "patel"]
	path = patel
	url = git@github.com:devangel77b/425kpatel-lab11.git
[submodule "musuku"]
	path = musuku
	url = git@github.com:devangel77b/425smusuku-lab11.git
[submodule "ayyagari"]
	path = ayyagari
	url = git@github.com:devangel77b/425sayyagari-lab11.git
